{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <style>
    [data-href] { cursor: pointer; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="text-center">Station Search</h1>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <form action="{% url 'search_stops' %}" method="get">
                  <input name="q" type="text" placeholder="Search..." value="{{q}}">
                </form>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for stop in object_list %}
                    <tr class='clickable-row' data-href="{% url 'station-board' stop.id %}">
                      <th scope="row">{{stop.id}}</th>
                      <td>{{stop.name}}</td>
                      <td>{% if stop.description %}{{stop.description}}{% endif %}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
<script>
    $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
</body>
</html>

